<!-- 
  Data Files: source/_data/culture.yml
-->
<div class="row">
  <% for (var item in site.data.culture){%>
    <div class="col-4">
      <div class="card p-5 text-center">
        <i data-feather="<%=site.data.culture[item]['feather'] %>" color="#7a3818" stroke-width="1.5" width="32" height="32"></i>
        <div class="card-body p-0">
          <h4 class="card-title text-primary"><%=site.data.culture[item]['name'] %></h4>
          <p class="card-text"><%=site.data.culture[item]['description'] %></p>
        </div>
      </div>
    </div>
  <%} %>
</div>