<!-- 
  Data Files: instapic/_data/quotation.yml
-->

<blockquote class="blockquote text-center">
  <div class="carousel-frame">
    <div class="carousel">
      <% for (var item in site.data.quotation){%>
        <div class="carousel-inner">
          <div class="blockquote-body">
            <p><%=site.data.quotation[item]['words'] %></p>
          </div>
          <footer class="blockquote-footer"><%=site.data.quotation[item]['name'] %></footer>
          <br/>
        </div>
      <%} %>
    </div>
  </div>
</blockquote>

<!--
<script>
	var tesObj = document.getElementsByName("carousel");
	//设置 value 值为 0 选中
	for(var i=0; i < tesObj.length; i++){
		if (tesObj[i].value=="0"){
			tesObj[i].checked = true;
			break;
			}
	}
</script>
-->