<div class="hero">
	<figure class="hero-figure">
		<img class="hero-figure-img" src="<%- url_for(theme.hero.image) %>" alt="<%= config.title %>">
		<figcaption>
			<div class="container">
				<div class="figure-inset">
					<h2 class="h1"><%- theme.slogan.primary %></h2>
					<p><%- theme.slogan.secondary %></p>
				</div>
			</div>
		</figcaption>
		<div class="learn-more">
			<a class="anchor" href="#landingpage">
				<i id="landingpage" data-feather="arrow-down-circle" color="#ffffff" stroke-width="1.5" width="32" height="32"></i>
			</a>
		</div>
	</figure>
</div>
