//
// Visual Identity System
// Our color palette

// Primary
vis-primary-color            = #2c3333
vis-primary-color-darken     = darken(vis-primary-color, 10%)
vis-primary-color-lighten    = lighten(vis-primary-color, 10%)

// Secondary
vis-secondary-color          = #395b64
vis-secondary-color-darken   = darken(vis-secondary-color, 10%)
vis-secondary-color-lighten  = lighten(vis-secondary-color, 10%)

// Functional
vis-success-color            = #6bcb77
vis-danger-color             = #ff6b6b
vis-warning-color            = #ffd93d
vis-info-color               = #4d96ff
