.carousel-frame {
    max-height: 240px;
    overflow: hidden;
    margin: auto;
    position: inherit;
}

@keyframes anis {
    100% {
        transform: translateY(-815px);
    }
}

.carousel {
    animation: anis 16s linear infinite;
}

.mb-3-margins {
    margin: 0.35rem 0.5rem;
}